/* Subset made by dunash with Linux fonttools pyftsubset */
@font-face {
    font-family: 'oswald_subset';
    src: url('Oswald-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}